flows.json
[{"id":"c4238b35.876f78","type":"tab","label":"life expectancy flow","disabled":false,"info":""},{"id":"30b7c740.6238e8","type":"function","z":"c4238b35.876f78","name":"PreToken","func":"global.set(\"c\",msg.payload.c);\nglobal.set(\"ys\",msg.payload.ys);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"am\",msg.payload.am);\nglobal.set(\"id\",msg.payload.id);\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"pe\",msg.payload.pe);\nglobal.set(\"hb\",msg.payload.hb);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"ufd\",msg.payload.ufd);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"te\",msg.payload.te);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"pop\",msg.payload.pop);\nglobal.set(\"t119\",msg.payload.t119);\nglobal.set(\"t59\",msg.payload.t59);\nglobal.set(\"inc\",msg.payload.inc);\nglobal.set(\"sc\",msg.payload.sc);\nvar apikey=\"vwxp-vGyodMy6WKb37HcKAlkPJnZO4Q7KpRYf6Wrmrnz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["ff806667.c4baf8"]]},{"id":"ff806667.c4baf8","type":"http request","z":"c4238b35.876f78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":454,"y":305,"wires":[["f4b497af.4bd648"]]},{"id":"882953b9.a0f57","type":"debug","z":"c4238b35.876f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"f4b497af.4bd648","type":"function","z":"c4238b35.876f78","name":"Pre Prediction","func":"var c=global.get(\"c\");\nvar ys=global.get(\"ys\");\nvar s=global.get(\"s\");\nvar am=global.get(\"am\");\nvar id=global.get(\"id\");\nvar a=global.get(\"a\");\nvar pe=global.get(\"pe\");\nvar hb=global.get(\"hb\");\nvar m=global.get(\"m\");\nvar bmi=global.get(\"bmi\");\nvar ufd=global.get(\"ufd\");\nvar p=global.get(\"p\");\nvar te=global.get(\"te\");\nvar dip=global.get(\"dip\");\nvar hiv=global.get(\"hiv\");\nvar gdp=global.get(\"gdp\");\nvar pop=global.get(\"pop\");\nvar t119=global.get(\"t119\");\nvar t59=global.get(\"t59\");\nvar inc=global.get(\"inc\");\nvar sc=global.get(\"sc\");\nvar token=msg.payload.access_token\nvar instance_id=\"2636392c-01da-46e5-9dd0-e7a9a6deca19\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[c,ys,s,am,id,a,pe,hb,m,bmi,ufd,p,te,dip,hiv,gdp,pop,t119,t59,inc,sc]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["89e63beb.6d9cd8"]]},{"id":"89e63beb.6d9cd8","type":"http request","z":"c4238b35.876f78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/dd63babc-01fd-418e-83de-7d212917d970/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["37f3e66b.0f1e0a"]]},{"id":"8ea22ec.68761d","type":"ui_form","z":"c4238b35.876f78","name":"","label":"","group":"53ab3238.18bb9c","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"c","type":"text","required":false,"rows":null},{"label":"Year","value":"ys","type":"number","required":false,"rows":null},{"label":"Status","value":"s","type":"text","required":false,"rows":null},{"label":"Adult Morality","value":"am","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"a","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":false,"rows":null},{"label":"Measles","value":"m","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"ufd","type":"number","required":false,"rows":null},{"label":"polio","value":"p","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"t119","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"t59","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":false,"rows":null},{"label":"Schooling ","value":"sc","type":"number","required":false,"rows":null}],"formValue":{"c":"","ys":"","s":"","am":"","id":"","a":"","pe":"","hb":"","m":"","bmi":"","ufd":"","p":"","te":"","dip":"","hiv":"","gdp":"","pop":"","t119":"","t59":"","inc":"","sc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["30b7c740.6238e8"]]},{"id":"a3a4d17.61eed3","type":"ui_text","z":"c4238b35.876f78","group":"53ab3238.18bb9c","order":3,"width":0,"height":0,"name":"OUTPUT","label":"LIFE EXPECTANCY:","format":"{{msg.payload}}","layout":"row-spread","x":762.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"37f3e66b.0f1e0a","type":"function","z":"c4238b35.876f78","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["882953b9.a0f57","a3a4d17.61eed3"]]},{"id":"53ab3238.18bb9c","type":"ui_group","z":"","name":"FACTORS","tab":"fcd5dad6.bd7a28","order":1,"disp":true,"width":"6","collapse":false},{"id":"fcd5dad6.bd7a28","type":"ui_tab","z":"","name":"LIFE EXPECTANCY CALCULATOR","icon":"dashboard","disabled":false,"hidden":false}]